body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    height: 100vh;
}
h5{
    font-family: Roboto,Arial,sans-serif;

}
footer{
    
    background-color: rgb(23,35,55);
    margin-bottom: 3rem;

}
#top{
    width: 100%;
    display: flex;
    background-color: rgb(23,35,55);
    justify-content: space-between;
}
#left{
    padding: 0px;
    margin: 0px;
    width: 60%;
    margin: 30px 0px 30px 0px;
    background-color: rgb(23,35,55);
    display: flex;
}
#right{
    padding: 0px;
    margin: 30px 0px 30px 0px;
    width: 40%;
    background-color: rgb(23,35,55);
    display: flex;
}
li{
    color: white;
    list-style: none;
    margin-bottom: 0.7rem;
    font-family: Roboto,Arial,sans-serif;
    font-size: 13px;
}

li:hover{
    text-decoration: underline;
}
p{
    color: white;
    margin: 0px;
    font-family: Roboto,Arial,sans-serif;
    font-size: 13px;
}
h5{
    color: rgb(124,121,114);
}
a{
    text-decoration: none;
    color: rgb(28,75,196);
}
#first{
    height: 12rem;
    border-left: 2px solid darkslategray;
}
footer hr.hr{
    border-top: 2px solid darkslategray;
    padding: 0px 0px 10px 0px;
    margin: 0px;
}
